body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #1d1e2c;
  font-size: 2rem;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.container {
  border: 3px solid #ac9fbb;
  padding: 5em 5em 5em 5em;
  background-color: #ac9fbb;
  border-radius: 0.3em;
  color: rgb(238, 235, 235);
}

h1 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.input {
  border: 3px solid #4e4d55;
  border-radius: 0.3em;
  padding: 0.25em;
  width: 20em;
  height: 1.5em;
  font-size: 1em;
  color: rgb(238, 235, 235);
  background-color: #1d1e2c;
}
.currency {
  font-size: 1em;
  color: rgb(238, 235, 235);
  background-color: #1d1e2c;
}

select {
  margin-left: 0.5rem;
}

.equals {
  font-weight: bold;
  font-size: 3rem;
}
